
<div id="body">
<app-nav></app-nav>

    <mdb-icon class="add" style="" (click)="addmodel()" fas icon="plus-circle"></mdb-icon>
    <!-- <a class="btn btn-primary" style="margin: 10px; margin-left: 85%; font-size: 15px;" (click)="addmodel()" >+ Add Product</a> -->
 
    <div class="container">
        
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
     <th scope="col"class="timg">Image</th>
     <th class="timg" scope="col">Date</th>
      <th scope="col">Price</th>
      <th class="veryLow" scope="col">Category</th>
      <th class="timg" scope="col">Description</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <ng-container   *ngFor="let item of this.list.products | paginate: { itemsPerPage: noItem, currentPage: p} index as index">
    <tr >
      <td>{{index+1}}</td>

      <td>{{item.title}}</td> 
    <td class="timg"> <img src="{{item.image}}"  height="100px" width="100px" alt="..."></td>    
    <td  class="timg">{{item.date}}</td>    
   
   
      <td>{{item.price}}</td>
      <td  class="veryLow">{{item.category}}</td>
      <td class="timg">{{item.description}}</td>
      <td><mdb-icon  (click)="delete(item)" style="color: red; " fas icon="trash-alt"></mdb-icon>
       
      <td><mdb-icon  (click)="Updatemodel(item)" style="color: green; " fas icon="edit"></mdb-icon> </td>
     
    </tr>
  </ng-container>
  </tbody>
</table> 
</div> 
 

 

<div class="row m-3" >
  <div class="col">
   
    <select (click)="itemPerPage()" id="select" class="browser-default "> 
      <option selected value="2">2</option>
      <option  value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value={{list.products.length}}>All</option>
    </select>
    
  </div>
  
  <div class="col-lg-8">
   
    <p>itemsPerPage</p>
   
  </div>
  <div class="col">
	<pagination-controls  (pageChange)="p = $event"></pagination-controls>
</div>

</div>





 <div id="model" class="model">

  <span class="text-right" (click)="dmodel()">X</span>
  <h3>{{text}} Product</h3>

  <form class="was-validated " 
  [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
    <div class="m-3 ">
      <!-- <label for="validationTextarea">Enter Name</label> -->
      <input formControlName="title" type="text p-5" class="form-control is-invalid " id="validationTextarea" placeholder=" Name " required>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>
    <div class="m-3 ">
      <!-- <label for="validationTextarea">Enter Price</label> -->
      <input  formControlName="price" type="number" class="form-control is-invalid" id="validationTextarea" placeholder="Price " required>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>


    <div class="m-3 ">
      <!-- <label for="validationTextarea">Textarea</label> -->
      <textarea formControlName="description" class="form-control is-invalid " id="validationTextarea" placeholder="Description" required></textarea>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>
    <div class="m-3 ">
      <!-- <label for="validationTextarea">Enter Category</label> -->
      <!-- <input  type="text p-5" class="form-control is-invalid " id="validationTextarea" placeholder="Required example textarea" required> -->
      <select  formControlName="category" class="form-control is-invalid " required>
        <option value="">Choose Category</option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>
  
    <div class="m-3 ">
      <!-- <label for="validationTextarea">Enter Image Url</label> -->
      <input  formControlName="image" type="text p-5" class="form-control is-invalid " id="validationTextarea" placeholder="Image Url" required>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>
    <!-- <div class="custom-file m-4" >
      <input  formControlName="image" type="file" class="custom-file-input" id="validatedCustomFile" required> -->
      <!-- <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      <div class="invalid-feedback">Example invalid custom file feedback</div> -->
    <!-- </div> -->
    <button class="btn btn-primary" [disabled]="!productForm.valid" type="submit">{{text}} Now</button>
  </form>


 </div>
 



       
        