
<div id="body">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand  " style="font-size: 25px;" href="#">Batch 6 foodverse</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link  active " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link ">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <!-- <i class="fas fa-user-alt m-2"></i> -->
          
            <a class="nav-link "><img class="user" src={{this.currentUser?.image}} height="50" alt="">{{this.currentUser?.name}} | <span (click)="logout()">Logout</span></a>
        
           </form>
      </div>
    </div>
  </nav>

  
  <div class="container">
    <mdb-icon  style="margin: 10px; margin-left: 93%; color: rgb(34, 150, 228); font-size:55px;" (click)="addmodel()" fas icon="plus-circle"></mdb-icon>
    <!-- <a class="btn btn-primary" style="margin: 10px; margin-left: 85%; font-size: 15px;" (click)="addmodel()" >+ Add Product</a> -->
 
    <div class="row">
     
      <!-- <div class="col-lg-3" *ngFor="let item of this.list.products | paginate: { itemsPerPage: noItem, currentPage: p} ">
        <div class="card" style="width: 18rem;" >
            <img src="{{item.image}}" class="card-img-top" height="250px" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.price}}</p>
              <p class="card-text">{{item.description.substring(0,20)}}...</p>
              <a style="margin-right: 10px;" (click)="delete(item)" class="btn btn-danger">Delete</a>
              <a  (click)="Updatemodel(item)" class="btn btn-success">Update</a>
            </div>
          </div>
      </div> -->

       <!-- table -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <ng-container   *ngFor="let item of this.list.products | paginate: { itemsPerPage: noItem, currentPage: p} index as index">
    <tr >
      <td>{{index+1}}</td>
      <td> <img src="{{item.image}}"  height="100px" width="100px" alt="..."></td>      
      <td>{{item.title}}</td> 
      <td>{{item.date}}</td>      
      <td>{{item.price}}</td>
      <td>{{item.category}}</td>
      <td>{{item.description}}</td>
      <td><mdb-icon  (click)="delete(item)" style="color: red; font-size:25px;" fas icon="trash-alt"></mdb-icon>
       
      <td><mdb-icon  (click)="Updatemodel(item)" style="color: green; font-size:25px;" fas icon="edit"></mdb-icon> </td>
     
    </tr>
  </ng-container>
  </tbody>
</table> 
      
    </div>
  </div>

 

<div class="row m-3" >
  <div class="col-lg-1">
   
    <select (click)="itemPerPage()" id="select" class="browser-default custom-select"> 
     
      <option selected value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
   
  </div>
  <div class="col-lg-8">
   
  <p>itemsPerPage</p>
   
  </div>
  <div class="col-lg-3">
	<pagination-controls  (pageChange)="p = $event"></pagination-controls>
</div>
</div>
</div>





 <div id="model" class="model">

  <span class="text-right" (click)="dmodel()">X</span>
  <h3>{{text}} Product</h3>

  <form class="was-validated " 
  [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
    <div class="m-3 ">
      <!-- <label for="validationTextarea">Enter Name</label> -->
      <input formControlName="title" type="text p-5" class="form-control is-invalid " id="validationTextarea" placeholder=" Name " required>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>
    <div class="m-3 ">
      <!-- <label for="validationTextarea">Enter Price</label> -->
      <input  formControlName="price" type="number" class="form-control is-invalid" id="validationTextarea" placeholder="Price " required>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>


    <div class="m-3 ">
      <!-- <label for="validationTextarea">Textarea</label> -->
      <textarea formControlName="description" class="form-control is-invalid " id="validationTextarea" placeholder="Description" required></textarea>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>
    <div class="m-3 ">
      <!-- <label for="validationTextarea">Enter Category</label> -->
      <!-- <input  type="text p-5" class="form-control is-invalid " id="validationTextarea" placeholder="Required example textarea" required> -->
      <select  formControlName="category" class="form-control is-invalid " required>
        <option value="">Choose Category</option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>
  
    <div class="m-3 ">
      <!-- <label for="validationTextarea">Enter Image Url</label> -->
      <input  formControlName="image" type="text p-5" class="form-control is-invalid " id="validationTextarea" placeholder="Image Url" required>
      <!-- <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div> -->
    </div>
    <!-- <div class="custom-file m-4" >
      <input  formControlName="image" type="file" class="custom-file-input" id="validatedCustomFile" required> -->
      <!-- <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      <div class="invalid-feedback">Example invalid custom file feedback</div> -->
    <!-- </div> -->
    <button class="btn btn-primary" [disabled]="!productForm.valid" type="submit">{{text}} Now</button>
  </form>


 </div>



 