
a{
    color: white !important;
}
span:hover{
    cursor: pointer;
}
.model{
   min-width: 600px !important;
    display: none;
    position:fixed;
    padding: 20px;
    top: 10%;
    bottom:auto;
    left: 30%;
    right: auto;
    border: 1px solid rgb(2, 2, 2);
    right:auto;
    background-color:white;
    color:#000;
    border-radius:10px;
    text-align:center;
}
.text-right{
    position:absolute;
    left:90%;
    right:auto
}
.user{
    margin-right: 10px;
    border-radius: 30px;
}
#select{
    margin-left: 70%;
    padding: 2px;
}