
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign up</h3>
              <form class="was-validated"  [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="form ">
                <input type="text" placeholder="Name" formControlName="name" class="form-control form-control-lg" required/>
                
              </div>
              <div class="form mt-3">
                <input type="email"  placeholder="Email" formControlName="email" class="form-control form-control-lg" required/>
                
              </div>
  
              
              
              <div class="form mt-3">
                  <input type="password"  placeholder="Password" formControlName="password" class="form-control form-control-lg" required/>
                  
                </div>
                <div class="form mt-3" >
                    <input type="number" placeholder="Contact No" formControlName="contact" class="form-control form-control-lg" required/>
                   
                  </div>
                
                <div class="form mt-3">
                  <textarea type="address" placeholder="Address" formControlName="address" class="form-control form-control-lg" required></textarea>
                 
                </div>
             
  
              <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Login</button>
  </form>
              <hr class="my-4">
              
  <a (click)="login()" class="form-check-label">login Now -></a>
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>